h2 {
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.6rem 0;
}

h3 {
    font-size: 1.45rem;
    padding: 0.55rem 0;
}

h4 {
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

p {
    padding: 0.5rem 0;
}

article p a {
    color: #3b82f6;
}

article p a:hover {
    color: #603bf6;
}

article img {
    padding: 2rem 0;
    width: 800px;
    margin: 0 auto;
}

@media (min-width: 768px) {
  max-width: 80%;
}

