@keyframes thrust {
    from {
        transform: translate(0, 0);
      }
      to {
        transform: translate(-7.5%, 7.5%)
      }
}

@media (hover:hover) {
  .group:hover #fire {
      animation: thrust 0.7s ease-in-out infinite alternate;
  }
}