h1 {
  color: #ffffff;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: center;
}

.decorated-entry {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1;
  grid-gap: 1vw;
  height: calc(20% + 1vh);
  width: 80%;
}

.icon {
  height: calc(25% + 1vw);
  grid-column: 2;
  justify-self: center;
}

input {
  font-size: calc(100% + 1vw);
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  grid-column: 3 / 6;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  box-shadow: none;
  background-clip: unset;
  -webkit-text-fill-color: #a0a0a0;
  -webkit-background-clip: text;
}

::-ms-reveal {
  filter: invert(60%);
}

.submit-button {
  grid-column: 3 / 5;
  -webkit-text-fill-color: #ffffff;
}

.submit-button:hover {
  cursor: pointer;
  color: #309ce7;
  -webkit-text-fill-color: #309ce7;
}

h1 {
    font-size: calc(100% + 3vw);
}
