a {
  text-decoration: transparent;
}

section {
  height: 80vh;
  display: flex;
}

h1 {
  font-weight: bold;
  font-size: 3vw;
}

#featured {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#featured::-webkit-scrollbar {
  height: 6px;
}

@media only screen and (max-width: 500px) {
  #featured::-webkit-scrollbar {
    height: 0;
  }
}

#featured::-webkit-scrollbar-track {
  background: #121212;
}

#featured::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #121212 30%, #174465 50%, #121212 70%);
}

#featured::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #121212 30%, #309ce7 50%, #121212 70%);
}

#featured::-webkit-scrollbar-thumb:active {
  background: linear-gradient(90deg, #121212 30%, #309ce7 50%, #121212 70%);
}

.card {
  aspect-ratio: 16 / 9;
  width: 60vw;
  flex: 0 0 auto;
  border-radius: 15px;
  overflow: hidden;
  color: #121212;
  margin: 2vw;
  position: relative;
}

#featured0 {
  background-color: #b4ccf0;
}

#featured1 {
  background-color: #f0c0b4;
}

#featured2 {
  background-color: #e3efce;
}

.card h2 {
  font-size: calc(100% + 2vw);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: calc(60% + 1vw);
}

.card a {
  color: #121212;
}

.card-content {
  position: absolute;
  bottom: 0px;
}

@media only screen and (min-width: 850px) {
  .card {
    background-size: 60vw auto;
  }
  
  .card-content {
    height: 50%;
    padding: 15px;
    width: calc(60vw - 30px);
  }
}

@media only screen and (max-width: 850px) {
  .card {
    background-image: none;
    aspect-ratio: 16 / 9;
    min-height: 30vh;
    min-width: 300px;
    height: auto;
    background-position: top;
    background-size: contain;
  }

  .card h2 {
    font-size: calc(1rem + 1vw);
    margin: 0;
  }

  .card-content {
    padding: 1.5vh 1.5vw;
    height: 50%;
    width: calc(100% - 3vw);
    text-align: center;
    vertical-align: middle;
  }
  
  .card-content p {
    display: none;
  }
}

footer {
  background-color: #121212;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

a:hover > svg > #signature {
  stroke-dasharray: 1072;
  stroke-dashoffset: 1072;
  animation: sign 4s;
  animation-iteration-count: infinite;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

#posts {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.post {
  width: 300px;
  height: auto;
  border-radius: 15px;
  flex: 0 0 auto;
  padding: 1vh 1vw;
  justify-content: center;
  overflow: hidden;
  border-radius: 15px;
}

.cover {
  width: auto;
  height: 30vh;
  overflow: hidden;
  background-position: center;
  background-size: auto 30vh;
  margin: 0;
  border-radius: 20px;
}

.post h2 {
  font-size: calc(1rem + 1vw);
  text-align: center;
  padding: 1.5vh 1vw;
}

@media only screen and (max-width: 930px) {
  #posts {
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .post {
    background-image: none;
  }
}

/* TODO: Add styles for flash messages */