body {
    color: #fff;
}

.content {
    flex: 0 0 auto;
    margin: 3vh auto 3vh auto;
    max-width: 800px;
    width: 90vw;
    justify-content: center;
}

.content h1 {
    font-size: calc(100% + 1vw);
    text-align: center;
}

.content h2 {
    font-size: calc(100% + 0.5vw);
    border-bottom: 1px solid #a0a0a0;
}

.content p {
    font-size: 18px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

::-webkit-scrollbar {
    height: 0;
  }

.MathJax {
    font-size: 18px;
    overflow-x: scroll;
}

