h1 {
  color: #ffffff;
}

.formcard {
  width: 100vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card {
  aspect-ratio: 16 / 9;
  width: 60vw;
  flex: 0 0 auto;
  border-radius: 15px;
  overflow: hidden;
  color: #121212;
  margin: 2vw;
  position: relative;
}

.card-content {
  background-color: #b4ccf0;
  position: absolute;
  bottom: 0px;
}

@media only screen and (min-width: 850px) {
  .card {
    background-size: 60vw auto;
  }
  
  .card-content {
    height: 50%;
    padding: 15px;
    width: calc(60vw - 30px);
  }
}

@media only screen and (max-width: 760px) {
  .card {
    background-image: none;
    width: 70vw;
    height: 250px;
  }

  .card-content {
    padding: 20px;
    height: -webkit-fill-available;
  }
}

#counter {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.row {
  padding: 1vh 0;
  width: 100%;
  height: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.card .title {
  display: block;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: calc(100% + 2vw);
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card .desc {
  display: block;
  min-height: 40%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: calc(60% + 1vw);
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #121212;
  resize: none;
  padding: 0;
}

.tags {
  background: none;
  border: 2px solid #eff3f6;
  border-radius: 5px;
  width: 100%;
  color: #eff3f6;
  padding: 10px;
  box-shadow: none;
  background-clip: unset;
  -webkit-text-fill-color: #a0a0a0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}

.tags::placeholder {
  text-align: center;
}

.file-wrapper {
  position: relative;
  padding-top: 1vh;
}

.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.file-upload:hover {
  cursor: pointer;
}

#file:hover {
  cursor: pointer;
}

.styled {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  vertical-align: middle;
  color: #ffffff;
}

#content-uploaded {
  font-size: min(8px, 1.5vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #bcb7b7;
}

.content-card {
  width: max(10vw, 10vh);
  height: max(10vw, 10vh);
  border-radius: 15px;
  border: 2px solid #eff3f6;
  margin: 10px;
  padding: 0.5vh 0.5vw;
  overflow: hidden;
}

#validate {
  font-size: calc(60% + 1vw);
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  box-shadow: none;
  background-clip: unset;
  -webkit-text-fill-color: #a0a0a0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  padding: 5px;
}

#validate:hover {
  cursor: pointer;
  color: #309ce7;
  -webkit-text-fill-color: #309ce7;
}

.submit-button {
  font-size: calc(100% + 1vw);
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  box-shadow: none;
  background-clip: unset;
  -webkit-text-fill-color: #a0a0a0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}

.submit-button:hover {
  cursor: pointer;
  color: #309ce7;
  -webkit-text-fill-color: #309ce7;
}