{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}

{% block content %}
    <center>
        <h1>Upload Blog Post</h1>
    </center>
    <form action="{{ url_for('upload') }}" method="post">
        {{ form.csrf_token }}
        <div class="formcard">
            <div class="card" id="preview">
                <div class="card-content">
                    {{ form.title(placeholder="Title", class="title") }}
                    {{ form.desc(placeholder="Description", class="desc", maxlength="220", **{"onkeyup":"countWords(this)"}) }}
                    <p id="counter">0/220</p>
                </div>
            </div>
            <center style="width:60%;">
            <div class="row">
                {{ form.tags(placeholder="Tags", class="tags") }}
            </div>
            <div class="row file-wrapper">
                {{ form.cover(class="file-upload", **{"onchange":"changeCover(this)"}) }}
                <div class="styled">
                    <span>Upload Cover</span>
                </div>
            </div>
            <div class="row file-wrapper">
                {{ form.content(class="file-upload", **{"onchange":"displayUploads(this)"}) }}
                <div class="styled">
                    <span>Upload Content</span>
                </div>
            </div>
            <div id="content-uploaded">

            </div>
            </center>
        </div>
    </form>

    <script>
        countWords = (data) => {
            var n = data.value.length;
            document.getElementById('counter').innerHTML = `${n}/220`;
        }

        changeCover = (data) => {
            image = window.URL.createObjectURL(data.files[0]);
            document.getElementById('preview').style.backgroundImage = `url(${image})`;
        }

        displayUploads = (data) => {
            var files = data.files;
            var size = Object.values(files).length;
            var content = "";
            for (var i = 0; i < size; i++) {
                content += `<div class="content-card">${files[i].name}</div>`;
            }
            document.getElementById('content-uploaded').innerHTML = content;
        }
    </script>
{% endblock %}