{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/index.js') }}" async></script>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div id="flash">
                <div class="message">{{ message }}</div>
                <button type="button" id="close-flash">&#10006;</button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if featured %}
    <section id="featured">
        {% for post in featured %}
        {% set filepath = "uploads/" ~ post.id ~ '/' ~ post.cover_path %}
        <div class="card" style = "background-image: url({{ url_for('static', filename=filepath) }})">
            <a href="/posts/{{ post.id }}">
                <div class="card-content" id = "featured{{ loop.index0 }}">
                    <h2>{{ post.title }}</h2>
                        <p>
                            {{ post.desc }}
                        </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </section>
    {% endif %}

    {% if morePosts %}
    <section id="posts">
        {% for i in range(morePosts) %}
        {% set post = posts[i] %}
        {% set filepath = "uploads/" ~ post.id ~ '/' ~ post.cover_path %}

        {% set hue = randint(0, 359, 10) %}
        <a href="/posts/{{ post.id }}">
        <div class="post">
            <div class="cover" 
            style="
            background-image: url({{ url_for('static', filename=filepath) }});
            border: solid 2px hsl({{ hue }}, 67%, 82%);
            ">
            </div>
            <h2 style = "color: hsl({{ hue }}, 67%, 82%)" >{{ post.title }}</h2>
        </div>
        </a>
        {% endfor %}
    </section>
    {% endif %}
{% endblock %}