{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="flash">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section id="featured">
        <div class="card" id="wallpaper0" style="background-image: url({{url_for('static', filename='img/exp log.png')}})">
            <a href="{{ url_for('index') }}">
                <div class="card-content" id="post0">
                    <h2>Exponentials and Logarithms</h2>
                    <div>
                        <p>
                        Logarithms often arise when something gets divided iteratively; when studying them 
                        I found out their properties are better understood when looking at the opposite situation, 
                        when something gets multiplied repeatedly.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="card" id="wallpaper1">
            <a href="{{ url_for('index') }}">
                <div class="card-content" id="post1">
                    <h2>Coordinate Systems</h2>
                    <div>
                        <p>
                        We often use cartesian coordinates to define points in space. But this is not the only
                        way to do so. Using latitude and longitude in the Earth is fundamentally different. 
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="card" id="wallpaper2">
            <a href="{{ url_for('index') }}">
                <div class="card-content" id="post2">
                    <h2>Title</h2>
                    <div>
                        <p>
                        Description
                        </p>
                    </div>
                </div>
            </a>
        </div> 
    </section>
{% endblock %}