{% extends "base.html" %} 

{% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/upload.css') }}"
/>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}

{% block content %}
<center>
  <h1>Upload Blog Post</h1>
</center>
<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="formcard">
    <div class="card" id="preview">
      <div class="card-content">
        {{ form.title(placeholder="Title", class="title") }} {{
        form.desc(placeholder="Description", class="desc", maxlength="220",
        **{"onkeyup":"countWords(this)"}) }}
        <p id="counter">0/220</p>
      </div>
    </div>
    <center style="width: 60%">
      <div class="row">{{ form.tags(placeholder="Tags", class="tags") }}</div>
      <div class="row file-wrapper">
        {{ form.cover(class="file-upload", 
        **{"onchange":"changeCover(this)"})
        }}
        <div class="styled">
          <span>Upload Cover</span>
        </div>
      </div>
      <div class="row file-wrapper">
        {{ form.content(class="file-upload",
        **{"onchange":"displayUploads(this)"}) }}
        <div class="styled">
          <span>Upload Content</span>
        </div>
      </div>
      <div id="content-uploaded"></div>
    </center>
    {{ form.submit(value = "Post", class="submit-button") }}
  </div>
</form>
{% endblock %}
